In [4]:
# 1- Importar el archivo csv y extraer las variables Total_Score, Study_hours_per_Week y Attendance(%)
# 2- Limpiar datos aplicando al menos un algoritmo de deteccion de outliers
# 3- Normalizar/estandarizar datos
# 4- Agrupamiento K-means
# 5- Etiquetado y descripcion de clusters

In [5]:
import pandas as pd
datos = pd.read_csv("datos.csv")
print(datos.head)

<bound method NDFrame.head of      Student_ID First_Name Last_Name                       Email  Gender  Age  \
0         S1000       Omar  Williams     student0@university.com  Female   22
1         S1001      Maria     Brown     student1@university.com    Male   18
2         S1002      Ahmed     Jones     student2@university.com    Male   24
3         S1003       Omar  Williams     student3@university.com  Female   24
4         S1004       John     Smith     student4@university.com  Female   23
...         ...        ...       ...                         ...     ...  ...
4995      S5995      Ahmed     Jones  student4995@university.com    Male   19
4996      S5996       Emma     Brown  student4996@university.com    Male   19
4997      S5997       John     Brown  student4997@university.com  Female   24
4998      S5998       Sara     Davis  student4998@university.com    Male   23
4999      S5999      Maria     Brown  student4999@university.com  Female   21

       Department  Attendance (%)  Midterm_Score  Final_Score  ...  \
0     Engineering           52.29          55.03        57.82  ...
1     Engineering           97.27          97.23        45.80  ...
2        Business           57.19          67.05        93.68  ...
3     Mathematics           95.15          47.79        80.63  ...
4              CS           54.18          46.59        78.89  ...
...           ...             ...            ...          ...  ...
4995     Business             NaN          82.15        60.33  ...
4996     Business           65.11          86.31        49.80  ...
4997           CS           87.54          63.55        64.21  ...
4998           CS           92.56          79.79        94.28  ...
4999  Engineering           83.92          83.24        53.47  ...

      Projects_Score  Total_Score  Grade  Study_Hours_per_Week  \
0              85.90        56.09      F                   6.2
1              55.65        50.64      A                  19.0
2              73.79        70.30      D                  20.7
3              92.12        61.63      A                  24.8
4              68.42        66.13      F                  15.4
...              ...          ...    ...                   ...
4995           58.42        85.21      D                  25.5
4996           60.87        95.96      C                   5.0
4997           82.65        54.25      A                  24.8
4998           94.29        55.84      A                  16.1
4999           69.25        77.86      F                  29.2

      Extracurricular_Activities Internet_Access_at_Home  \
0                             No                     Yes
1                             No                     Yes
2                             No                     Yes
3                            Yes                     Yes
4                            Yes                     Yes
...                          ...                     ...
4995                          No                     Yes
4996                          No                     Yes
4997                         Yes                      No
4998                         Yes                     Yes
4999                          No                     Yes

      Parent_Education_Level Family_Income_Level Stress_Level (1-10)  \
0                High School              Medium                   5
1                        NaN              Medium                   4
2                   Master's                 Low                   6
3                High School                High                   3
4                High School                High                   2
...                      ...                 ...                 ...
4995             High School                 Low                  10
4996                     NaN              Medium                   4
4997             High School              Medium                   4
4998              Bachelor's                 Low                   1
4999                     PhD                 Low                   2

     Sleep_Hours_per_Night
0                      4.7
1                      9.0
2                      6.2
3                      6.7
4                      7.1
...                    ...
4995                   8.3
4996                   4.0
4997                   6.3
4998                   8.4
4999                   6.1

[5000 rows x 23 columns]>